@using QLNS.Model.IdentityEntities
@using QLNS.Web.Areas.RecruitmentRequestArea.Models;

@model TemplateRecruitmentRequestViewModel.TemplateRecruitmentRequestEditViewModel

<div class="modal-dialog">
    @using (Ajax.BeginForm("Save", "TemplateRecruitmentRequest", new { @area = "RecruitmentRequestArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "form--edit" }))
    {
        @Html.AntiForgeryToken()
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">
                        @((Model.Id > 0) ? "CẬp NHẬT BIỂU MẪU YÊU CẦU TUYỂN DỤNG" : "THÊM MỚI BIỂU MẪU YÊU CẦU TUYỂN DỤNG")
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <input type='hidden' name='Id' value='@Model.Id' />
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="Name">
                            Tên biểu mẫu<span class="red">*</span>
                        </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="Code">
                            Nhóm kỹ năng/yêu cầu <span class="red">*</span>
                        </label>
                        <div class="col-sm-8">
                            @Html.ListBoxFor(m => m.SkillIds, Model.GroupSkills, new { @class = "form-control chosen-select tag-input-style" })
                            @Html.ValidationMessageFor(m => m.SkillIds, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">
                    Cập nhật
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $(".chosen-select").chosen({
            width: "100%",
            placeholder_text_multiple: 'Chọn nhóm kỹ năng, yêu cầu'
        });
    })
</script>